<title>Contactanos</title>

<div class="container my-4">
  <h3 style="color: #0d6efd;">Contactanos</h3>
  <p>Si deseas comunicarte con nosotros, diligencia el siguiente formulario</p>

  <div class="card shadow-sm formulario-contacto">
    <div class="card-body p-4">
      <h4 style="color: gray;">Formulario</h4>

      <form action="" class="my-4">
        <div class="row">
          <div class="col-md-6 mb-3">
            <input class="form-control" type="text" placeholder="Nombre...">
          </div>
          <div class="col-md-6 mb-3">
            <input class="form-control" type="text" placeholder="Apellido...">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <input class="form-control" type="text" placeholder="Direccion...">
          </div>
          <div class="col-md-4 mb-3">
            <input class="form-control" type="text" placeholder="Municipio...">
          </div>
          <div class="col-md-4 mb-3">
            <input class="form-control" type="text" placeholder="Departamento...">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <input class="form-control" type="text" placeholder="Correo electronico...">
          </div>
          <div class="col-md-6 mb-3">
            <input class="form-control" type="text" placeholder="Confirmar correo...">
          </div>
        </div>

        <div class="mb-3">
          <textarea class="form-control" rows="5" placeholder="Escribe aqui un mensaje para nosotros..." name="" id=""></textarea>
        </div>

        <div class="d-flex justify-content gap-2">
          <button type="button" class="btn btn-primary boton-enviar" (click)="sendingOfInformation()">Enviar</button>
          <button type="reset" class="btn">Limpiar</button>
        </div>
      </form>
    </div>
  </div>
</div>
